* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hero-image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  height: 400px;
}

.hero-image-grid img {
  object-fit: cover;
  border-radius: 8px;
  height: 195px;
}

.hero-image-1 {
  grid-row: 1 / 3;
}

.hero-image-2 {
  grid-row: 1;
}

.hero-image-3 {
  grid-row: 2;
}

.hero-image-4 {
  /* grid-row: 3;
                grid-column: 1 / 3; */
}

h2 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 700;
  color: #252525;
  margin: 0;
}

.service_title {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
}

.img-shadow {
  box-shadow: 1px 2px 13px #01000130;
}
